<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Bienvenue sur ELIO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="home-body">
    <div class="home-container">
        <img src="{{ url_for('static', filename='logo_elio.png') }}" alt="ELIO Logo" class="logo animated-logo">
        <h1 class="slogan fade-in">Chaque jour compte</h1>
        <a href="{{ url_for('index') }}" class="enter-button fade-in">Commencer</a>
    </div>
</body>
</html>
